extends layout

block estilo
  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  div#contenido
    if (datos && datos.length > 0)
      each dato in datos 
        div.contenedor-post
          div.publicacion(id=`pub-${dato.publicacion.id}`)
            div.perfil-header(onclick=`location.href="/usuario/${dato.usuario.id}/perfil"`)
              img(src=dato.usuario.foto_perfil || "/images/sin_foto_perfil.png", width="40")
              h5= dato.usuario.nombre

            div.cuerpo-publicacion
              div.foto-seccion
                div(id=`imagen-container-${dato.publicacion.id}`)
                  img.main-img(src=dato.imagenes[0].imagen || "/images/sin_imagen.png", style="width: 100%")
                  p= (dato.imagenes[0].licencia === 0) ? 'Imagen sin licencia' : 'Imagen con licencia'
                
                if (dato.imagenes.length > 1)
                  button(onclick=`mover(${dato.publicacion.id}, -1, ${JSON.stringify(dato.imagenes)})`) ◀️
                  span(id=`pos-${dato.publicacion.id}`) 1 / #{dato.imagenes.length}
                  button(onclick=`mover(${dato.publicacion.id}, 1, ${JSON.stringify(dato.imagenes)})`) ▶️

            div#informacion
              h5= dato.publicacion.titulo
              p= dato.publicacion.fecha.toLocaleDateString()
              p= dato.publicacion.descripcion

            div#acciones
              if (dato.usuario.id !== usuario.id)
                button(onclick=`actualizarLikes(${dato.publicacion.id})`) ❤️
                  span(id=`likes-pub-${dato.publicacion.id}`)= dato.publicacion.likes
                button(onclick=`alternarComentarios(${dato.publicacion.id}, ${JSON.stringify(dato.comentarios)})`) 💬
                  span(id=`comentarios-pub-${dato.publicacion.id}`)= dato.cantidad
                button(onclick=`guardarPublicacion(${dato.publicacion.id})`) 📁
                button(onclick=`marcarInteres(${dato.publicacion.id})`) ⭐
                a(href=`/publicacion/${dato.publicacion.id}/denunciar`) 🚩
              else
                button(type="button") ❤️
                  span(id=`likes-pub-${dato.publicacion.id}`)= dato.publicacion.likes
                button(onclick=`alternarComentarios(${dato.publicacion.id}, ${JSON.stringify(dato.comentarios)})`) 💬
                  span(id=`comentarios-pub-${dato.publicacion.id}`)= dato.cantidad
            
            div(id=`guardarPublicacion-${dato.publicacion.id}`, style="display: none;")
              form(action=`/publicacion/${dato.publicacion.id}/guardar`, method="post")
                input(type="text", name="nombreLista", placeholder="Nombre de la lista", required) 
                button(type="submit") 📩

            div(id=`motivo-interes-${dato.publicacion.id}`, style="display: none;")
              form(action=`/publicacion/${dato.publicacion.id}/marcarInteres`, method="post") 
                textarea(name="motivoInteres", cols="30", rows="5", placeholder="Escribí el motivo de tu interés", required)
                button(type="submit") 📩

          div(id=`seccion-comentarios-${dato.publicacion.id}`, style="display: none;")
            div.form-comentario
              form(id=`form-agregar-comentario-${dato.publicacion.id}`, action=`/publicacion/${dato.publicacion.id}/comentario/agregar`, method="post") 
                textarea(name='comentario', cols="30", rows="5", placeholder="Escribí un comentario...")
                button(type="submit") Comentar
            div(id=`lista-comentarios-pub-${dato.publicacion.id}`)  
    else
      h2 Aún no hay publicaciones
      p ¡Creá la tuya!

  script.
    const id_usuario = !{JSON.stringify(userIdSesion)};

    // ACTUALIZAR LIKES
    async function actualizarLikes(id) {
      const res = await fetch(`/publicacion/${id}/like`, { method: 'POST' });
      const data = await res.json();
      document.getElementById(`likes-pub-${id}`).innerText = data.likes;
    }

    // MOSTRAR / OCULTAR COMENTARIOS
    function alternarComentarios(id, comentarios) {
      const seccion_comentarios = document.getElementById(`seccion-comentarios-${id}`);
      const contenedor_comentarios = document.getElementById(`lista-comentarios-pub-${id}`);

      if (seccion_comentarios.style.display === 'none') {
        contenedor_comentarios.innerHTML = '';

        comentarios.forEach(comentario => {
          const esMio = comentario.id_usuario === id_usuario;
          const id_comentario = comentario.id;
          const foto_perfil = comentario.usuario.foto_perfil || "/images/sin_foto_perfil.png";
          const nombre = comentario.usuario.nombre;
          const texto = comentario.comentario;

          let htmlComentario = '';

          if (esMio) {
            htmlComentario = `
              <div class="comentario-item">
                <img src=${foto_perfil} width="32">
                  <div class="comentario-cuerpo">
                    <h5 class="comentario-cuerpo">${nombre}</h5>
                    <p class="comentario-cuerpo">${texto}</p>
                    <div class="comentario-acciones">
                      <a href="/publicacion/${id}/comentario/${id_comentario}/eliminar">🗑️</a>
                      <button onclick="alternarModificacionComentario(${id_comentario})">✏️</button>
                      <div id="seccion-modificar-comentario-${id_comentario}" style="display: none;">
                        <form action="/publicacion/${id}/comentario/${id_comentario}/modificar" method="post">
                          <textarea name="nuevoComentario" rows="2">${texto}</textarea>
                          <button type="submit">📩</button>
                        </form>
                      </div>
                    </div>
                  </div>
              </div>
            `;
          } else {
            htmlComentario = `
              <div class="comentario-item">
                <img src=${foto_perfil} width="32">
                  <div class="comentario-cuerpo">
                    <h5 class="comentario-cuerpo">${nombre}</h5>
                    <p class="comentario-cuerpo">${texto}</p>
                    <div class="comentario-acciones">
                      <a class="comentario-cuerpo" href="/publicacion/comentario/${id_comentario}/denunciar">🚩</a>
                    </div>
                  </div>
              </div>
            `;
          }

          contenedor_comentarios.innerHTML += htmlComentario;
        });

        seccion_comentarios.style.display = 'block';
      } else {
        seccion_comentarios.style.display = 'none';
      }
    }

    function alternarModificacionComentario(idCom) {
      const seccion = document.getElementById(`seccion-modificar-comentario-${idCom}`);
      seccion.style.display === 'none' ? seccion.style.display = 'block' : seccion.style.display = 'none';
    }

    // MOSTRAR / OCULTAR MARCAR INTERÉS
    function marcarInteres(idPub) {
      const motivo_Interes = document.getElementById(`motivo-interes-${idPub}`);
      motivo_Interes.style.display === 'none' ? motivo_Interes.style.display = 'block' : motivo_Interes.style.display = 'none';
    }

    // MOSTRAR / OCULTAR GUARDADO DE PUBLICACIÓN
    function guardarPublicacion(idPub) {
      const seccion = document.getElementById(`guardarPublicacion-${idPub}`);
      seccion.style.display === 'none' ? seccion.style.display = 'block' : seccion.style.display = 'none';
    }

    // MOSTRAR SIGUIENTE/ANTERIOR IMAGEN
    const carruselStatus = {};

    function mover(idPub, direccion, imagenes) {
      const contenedor_imagen = document.getElementById(`imagen-container-${idPub}`);
      const labelPosicion = document.getElementById(`pos-${idPub}`);
      const total = imagenes.length;

      if (carruselStatus[idPub] === undefined) carruselStatus[idPub] = 0;

      carruselStatus[idPub] += direccion;

      if (carruselStatus[idPub] >= total) carruselStatus[idPub] = 0;
      if (carruselStatus[idPub] < 0) carruselStatus[idPub] = total - 1;

      const nuevaImagen = imagenes[carruselStatus[idPub]];
      contenedor_imagen.innerHTML = `
        <img src="${nuevaImagen.imagen}" class="main-img" style="width: auto; max-width: 100%; height: auto; max-height: 500px; display: block; margin: 0 auto;">
        <p>${(nuevaImagen.licencia === 0) ? 'Imagen sin licencia' : 'Imagen con licencia'}</p>
      `;

      labelPosicion.innerText = `${carruselStatus[idPub] + 1} / ${total}`;
    }

    // Cargar más publicaciones al llegar a la última (scroll infinito)