extends layout 

block estilo 
    link(rel="stylesheet", href="/stylesheets/modificar.css")

block content 
    div#contenido-editar
        h2 Editar Perfil
        form.edit-form(action=`/usuario/modificar`, method="post", enctype="multipart/form-data") 
            div.foto-edit-seccion
                img(src=usuario.foto_perfil || "/images/sin_foto_perfil.png")
                div.campo-grupo
                    label(for="imagen") Cambiar foto de perfil
                    input(type="file", name="imagen", accept="image/*")

            if (error)
                p.error-alerta= error

            div.campo-grupo
                label(for="nombre") Nombre de usuario
                input(type="text", name="nombre", value=usuario.nombre, required)

            div.campo-grupo
                label(for="email") Correo electrónico
                input(type="email", name="email", value=usuario.email, required)

            div.campo-grupo
                label(for="contraseña") Contraseña
                input(type="text", name="contraseña", value=usuario.contraseña, required)

            div.campo-grupo
                label(for="descripcion") Descripción
                textarea(name="descripcion")= usuario.descripcion

            button.btn-guardar(type="submit") Aceptar