extends layout 

block content 
    div#perfil 
        form(action=`/usuario/modificar`, method="post", enctype="multipart/form-data") 
            div#datos-principales
                div#imagen 
                    img(src=usuario.foto_perfil || "/images/sin_foto_perfil.png", width="50")
                label(for="imagen") Nueva foto
                input(type="file", name="imagen", accept="image/*")
                div#datos 
                    if (error)
                        p.error= error
                    label(for="nombre") Nombre 
                    input(type="text", name="nombre", value=usuario.nombre, required)
                    br
                    label(for="email") Email 
                    input(type="email", name="email", value=usuario.email, required)
                    br
                    label(for="contraseña") Contraseña
                    input(type="text", name="contraseña", value=usuario.contraseña, required)
                div#descripcion 
                    label(for="descripcion") Descripción
                    br
                    textarea(name="descripcion", cols="50", rows="5", value=usuario.descripcion)
            button(type="submit") Aceptar