extends layout 

block estilo 
    link(rel="stylesheet", href="/stylesheets/listas.css")

block content 
    div.lista-container
        h3 Notificaciones 
        if (notificaciones && notificaciones.length > 0)
            each n in notificaciones 
                div.notificacion-item(onclick=`location.href='/usuario/${n.id_causante}/perfil'`, class=(n.vista === 0 ? "no-leida" : ""))
                    img(src=n.foto_perfil || "/images/sin_foto_perfil.png")
                    
                    div.info-notificacion
                        p
                            strong= n.nombre
                            if (n.tipo_evento === "Interes")
                                |  se interesó en tu publicación 
                                strong "#{n.titulo}"
                                br
                                span Motivo: #{n.motivo}
                            else if (n.tipo_evento === "Nuevo seguidor")
                                |  comenzó a seguirte.
                            else
                                |  interactuó contigo.
                        
                        small= n.fecha.toLocaleDateString() + " " + n.fecha.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})

                    if (n.vista === 0)
                        button(onclick=`event.stopPropagation(); actualizarVisto(${n.id})`, id=`boton-visto-${n.id}`, class="btn-visto") ✖️
                    else 
                        button(onclick=`event.stopPropagation();`, type="button", id=`boton-visto-${n.id}`, class="btn-visto") ✔️
        else 
            p No hay notificaciones

    script.
        // ACTUALIZAR VISTO
        async function actualizarVisto(id) {
            try {
                const boton_visto = document.getElementById(`boton-visto-${id}`);
                const res = await fetch(`/usuario/notificaciones/${id}/actualizarVisto`, { method: 'POST' });
                const data = await res.json();

                if (data.vista === 1) {
                    boton_visto.innerText = "✔️";
                    boton_visto.parentElement.style.backgroundColor = "transparent";
                } else {
                    boton_visto.innerText = "✖️";
                    boton_visto.parentElement.style.backgroundColor = "#f0f7ff";
                }
            } catch (error) { console.error("Error:", error); }
        }