extends layout 

block content 
    mixin renderLista(lista)
        if lista && lista.length > 0
            each publicacion in lista 
                div.publicacion(id=`pub-${publicacion.id}`)
                    .perfil-header(onclick=`location.href='/perfil/usuario/${usuario.id}'`)
                        img(src=usuario.foto_perfil || "/images/sin_foto_perfil.png", width="40")
                        h5= usuario.nombre

                    each imagen in publicacion.imagenes
                        img.main-img(src=imagen.imagen || "/images/sin_imagen.png")
                        if imagen.licencia === 0
                            p Sin licencia
                        else 
                            p Con licencia 

                    div#informacion
                        h5= publicacion.publicacion.titulo
                        p= publicacion.publicacion.fecha.toLocaleDateString()
                        p= publicacion.publicacion.descripcion

                    div#acciones
                        if (!esMiPerfil)
                            button(onclick=`actualizarLikes(${publicacion.publicacion.id})`) ❤️
                                span(id=`likes-${publicacion.publicacion.id}`)= publicacion.publicacion.likes
                            button(onclick=`alternarComentarios(${publicacion.publicacion.id}, ${JSON.stringify(publicacion.comentarios)})`) 💬
                                span(id=`comentarios-${publicacion.publicacion.id}`)= publicacion.cantidad
                            button(onclick=`marcarInteres(${publicacion.publicacion.id})`) ⭐
                            a(href=`/publicacion/denunciar/${publicacion.publicacion.id}`) 🚩
                        else
                            button(type="button") ❤️
                                span(id=`likes-${publicacion.publicacion.id}`)= publicacion.publicacion.likes
                            button(onclick=`alternarComentarios(${publicacion.publicacion.id}, ${JSON.stringify(publicacion.comentarios)})`) 💬
                                span(id=`comentarios-${publicacion.publicacion.id}`)= publicacion.cantidad
                            a(href=`/publicacion/${publicacion.publicacion.id}/eliminar`) 🗑️
                                    
                        div.form-comentario
                            input(type="text", id=`input-coment-${publicacion.publicacion.id}`, placeholder="Escribí un comentario...")
                            button(onclick=`agregarComentario(${publicacion.publicacion.id})`) Comentar 

                        div(id=`lista-comentarios-${publicacion.publicacion.id}`)
        else 
            p Aún no hay publicaciones

    div#contenido
        div#perfil 
            div#datos-principales
                div#imagen 
                    img(src=usuario.foto_perfil || "/images/sin_foto_perfil.png", width="40")
                div#datos
                    h5= usuario.nombre 
                    p= `Fecha de creación: ${usuario.fecha_creacion.toLocaleDateString()}`
                    if (esMiPerfil)
                        a(href=`/usuario/modificar`) Modificar
                        a(href="/cerrar-sesion") Cerrar sesión
                div#descripcion 
                    p= usuario.descripcion 
                
                if (!esMiPerfil)
                    form(action=`/perfil/seguir/${usuario.id}`, method="post") 
                        if (loSigo)
                            button(type="submit") Dejar de seguir
                        else 
                            button(type="submit") Seguir

            div#seguidos-seguidores
                h5= seguidos
                    span  Seguidos
                h5= seguidores
                    span  Seguidores

            div#lista-seguidos-seguidores
                a(href=`/usuario/${usuario.id}/seguidos`) Seguidos
                a(href=`/usuario/${usuario.id}/seguidores`) Seguidores

            div#publicaciones-botones
                if (esMiPerfil)
                    button(onclick="mostrarSeccion('mis-publicaciones')") Mis publicaiones
                    button(onclick="mostrarSeccion('publicaciones-seguidos')") Publicaciones de seguidos
                    button(onclick="mostrarSeccion('mis-favoritos')") Favoritos 

                    div#mis-publicaciones.seccion-perfil
                        +renderLista(publicaciones)

                    div#publicaciones-seguidos.seccion-perfil(style="display: none;")
                        +renderLista(publicaciones_Seguidos)

                    div#mis-favoritos.seccion-perfil(style="display: none;")
                        +renderLista(publicaciones_Favoritas)
                else
                    +renderLista(publicaciones)

    script.
        // ACTUALIZAR LIKES
        async function actualizarLikes(id) {
            const res = await fetch(`/publicacion/like/${id}`, { method: 'POST' });
            const data = await res.json();
            document.getElementById(`likes-${id}`).innerText = data.likes;
        }

        // MOSTRAR / OCULTAR COMENTARIOS
        function alternarComentarios(id, comentarios) {
            const contenedor_comentarios = document.getElementById(`lista-comentarios-${id}`);

            if (contenedor_comentarios.style.display === 'none') {
                contenedor_comentarios.innerHTML = '';

                comentarios.forEach(comentario => {
                    contenedor_comentarios.innerHTML += `
                        <img src="${comentario.id_usuario.foto_perfil}" alt="/images/sin_foto_perfil.png" width="40">
                        <h5>${comentario.id_usuario.nombre}</h5>
                        <p>${comentario.comentario}</p>
                    `;
                });
                contenedor_comentarios.style.display = 'block';
            } else {
                contenedor_comentarios.style.display = 'none';
            }
        }

        // AGREGAR COMENTARIO
        async function agregarComentario(id) {
            const texto = document.querySelector(`input-coment-${id}`).value;
            if (!texto) return;

            try {
                const res = await fetch(`/publicacion/${id}/comentario/agregar`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ comentario: texto, id_usuario: id })
                });

                if (res.ok) location.reload();
            } catch (error) { console.error('Error al agregar el comentario', error); }
        }

        // MODIFICAR COMENTARIO
        async function modificarComentario(id_publicacion, id_comentario) {
            try {
                const contenedor_Comentarios = document.getElementById('comentarios');
                contenedor_Comentarios.innerHTML = '';
            } catch (error) { console.error('Error al modificar el comentario', error); }
        }

        // MOSTRAR SECCIÓN SELECCIONADA
        function mostrarSeccion(idSeccion) {
            document.querySelectorAll('.seccion-perfil').forEach(div => { div.style.display = 'none'; });
            document.getElementById(idSeccion).style.display = 'block';
        }