extends layout 

block estilo 
    link(rel="stylesheet", href="/stylesheets/perfil.css")

block content 
    mixin renderLista(lista)
        if (lista && lista.length > 0)
            each pub in lista 
                div.publicacion-mini(onclick=`location.href='/#pub-${pub.publicacion.id}'`)
                    img(src=pub.imagenes[0].imagen || "/images/sin_imagen.png")
                    
                    div.overlay
                        span ❤️ #{pub.publicacion.likes}
                        span 💬 #{pub.cantidad}
        else 
            p.sin-contenido Aún no hay publicaciones

    div#contenido
        header#datos-principales
            div#imagen 
                img(src=usuario.foto_perfil || "/images/sin_foto_perfil.png")
            
            section#datos
                div.fila-usuario
                    h5= usuario.nombre 
                    if (esMiPerfil)
                        a.btn-edit(href=`/usuario/modificar`) Editar perfil
                        a.btn-logout(href="/cerrar-sesion") Cerrar sesión
                
                div#seguidos-seguidores
                    a(href=`/usuario/${usuario.id}/seguidores`)
                        span= seguidores 
                        |  seguidores
                    a(href=`/usuario/${usuario.id}/seguidos`)
                        span= seguidos 
                        |  seguidos
                
                div#descripcion 
                    p= usuario.descripcion 
                
                if (!esMiPerfil)
                    form(action=`/usuario/perfil/seguir/${usuario.id}`, method="post") 
                        if (loSigo)
                            button.btn-unfollow(type="submit") Dejar de seguir
                        else 
                            button.btn-follow(type="submit") Seguir

        nav#publicaciones-botones
            if (esMiPerfil)
                div.tab-buttons
                    button(onclick="mostrarSeccion('mis-publicaciones')") 
                        i.icon-grid 
                        | Publicaciones
                    button(onclick="mostrarSeccion('publicaciones-seguidos')") 
                        i.icon-people
                        | Seguidos
                    button(onclick="mostrarSeccion('mis-favoritos')") 
                        i.icon-bookmark
                        | Guardado
            else
                div.tab-buttons
                    button.active Publicaciones

        main#secciones-grid
            div#mis-publicaciones.seccion-perfil
                +renderLista(publicaciones)

            if (esMiPerfil)
                div#publicaciones-seguidos.seccion-perfil(style="display: none;")
                    +renderLista(publicaciones_Seguidos)

                div#mis-favoritos.seccion-perfil(style="display: none;")
                    +renderLista(publicaciones_Favoritas)

    script.
        // ACTUALIZAR LIKES
        async function actualizarLikes(id) {
            const res = await fetch(`/publicacion/like/${id}`, { method: 'POST' });
            const data = await res.json();
            document.getElementById(`likes-${id}`).innerText = data.likes;
        }

        // MOSTRAR / OCULTAR COMENTARIOS
        function alternarComentarios(id, comentarios) {
            const contenedor_comentarios = document.getElementById(`lista-comentarios-${id}`);

            if (contenedor_comentarios.style.display === 'none') {
                contenedor_comentarios.innerHTML = '';

                comentarios.forEach(comentario => {
                    contenedor_comentarios.innerHTML += `
                        <img src="${comentario.id_usuario.foto_perfil}" alt="/images/sin_foto_perfil.png" width="40">
                        <h5>${comentario.id_usuario.nombre}</h5>
                        <p>${comentario.comentario}</p>
                    `;
                });
                contenedor_comentarios.style.display = 'block';
            } else {
                contenedor_comentarios.style.display = 'none';
            }
        }

        // AGREGAR COMENTARIO
        async function agregarComentario(id) {
            const texto = document.querySelector(`input-coment-${id}`).value;
            if (!texto) return;

            try {
                const res = await fetch(`/publicacion/${id}/comentario/agregar`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ comentario: texto, id_usuario: id })
                });

                if (res.ok) location.reload();
            } catch (error) { console.error('Error al agregar el comentario', error); }
        }

        // MODIFICAR COMENTARIO
        async function modificarComentario(id_publicacion, id_comentario) {
            try {
                const contenedor_Comentarios = document.getElementById('comentarios');
                contenedor_Comentarios.innerHTML = '';
            } catch (error) { console.error('Error al modificar el comentario', error); }
        }

        // MOSTRAR SECCIÓN SELECCIONADA
        function mostrarSeccion(idSeccion) {
            document.querySelectorAll('.seccion-perfil').forEach(div => { div.style.display = 'none'; });
            
            const target = document.getElementById(idSeccion);
            target.style.display = 'grid';
            
            document.querySelectorAll('#publicaciones-botones button').forEach(btn => btn.classList.remove('active'));
            event.currentTarget.classList.add('active');
        }