extends layout 

block estilo 
    link(rel="stylesheet", href="/stylesheets/listas.css")

block content 
    div.lista-container
        h5= (tipo === "seguidos") ? 'Seguidos' : 'Seguidores'

        if (lista && lista.length > 0)
            each item in lista 
                div.usuario-item(onclick=`location.href='/usuario/${item.id}/perfil'`)
                    img(src=item.foto_perfil || "/images/sin_foto_perfil.png")
                    div.info-usuario
                        strong= item.nombre 
        else 
            p.vacio No tenés #{tipo}