extends layout 

block content 
    h5= (tipo === "seguidos") ? 'Seguidos' : 'Seguidores'

    if (lista && lista.length > 0)
        each item in lista 
            div.usuario-item(onclick=`location.href='/usuario/${item.id}/perfil'`, style="display: flex; align-items: center; gap: 15px; margin-bottom: 15px; border-bottom: 1px solid #eee; padding-bottom: 10px;")
                img(src=item.foto_perfil || "/images/sin_foto_perfil.png", width="50", height="50", style="border-radius: 50%")
                h5(style="margin:0")= item.nombre 
    else 
        p No tenés #{tipo}